html, body,  #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root{
  overflow-y: scroll;
}

main{
height: 100%;
padding-top: 4rem;
}
.react-financial-charts {

  z-index: 1;

}

canvas {
  position: relative;
  z-index: 1;
}


.css-b62m3t-container{
  z-index: 20;
}

.toggle-wrapper {
  margin: 0.5em auto;
}

.toggle-wrapper label {
  padding: 0.3em;
  font-size: 12px;
  display: block;
  font-weight: 600;
}

.toggleContainer {
  width: 100%;
  position: relative;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.toggleContainer .toggleOption {
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align: center;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: #807b77;
  font-size: 1em;
}

.toggleContainer .toggleOption.selected {
  color: #ffffff;
  cursor: initial;
}

.toggleContainer .toggle {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
  background: #000;
}

.optionDisabled {
  background: #e6e6e6;
  cursor: no-drop !important;
}


foreignObject{
  max-width: 180px !important;
  overflow-wrap: break-word !important;
  width: 150px;
  /* height: 40px; */
}
foreignObject p {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 180px;
}

.plotly .user-select-none{
  margin: auto !important;
}

.rd3t-tree-container{
  height: 100%;
}